


html {
  height: 100%;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.699); */
   background-image: url('./music/background.jpeg'); 
   background-size: cover; /* Hace que la imagen cubra toda la pantalla */
}

/* body {
  background-image: url('./music/background.jpeg'); 
} */


